body {
  font-family: "Roboto", sans-serif;
  background-color: #ededed;
}
.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}
.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.display {
  border-radius: 10px;
  margin-top: 100px;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  background: url("bg.jpg");
  background-color: #231e39;
}
.profile-picture-area {
  flex: 1;
}
.profile-detail-area {
  margin-top: 20px;
  color: white;
  flex: 2;
}
.profile-picture {
  margin-top: 20px;
  /* margin-bottom: -60px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.picture {
  padding: 5px;
  border: 2px solid #03bfcb;
  border-radius: 50%;
}
.about {
  border-radius: 10px;
  background-color: white;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
}
.about-me {
  flex: 1;
  text-align: left;
  margin-left: 50px;
}
.detail-about-me {
  flex: 1;
  align-self: flex-end;
  margin-left: 50px;
}
.btn {
  font-size: 12px;
  background: none;
  border: 1px solid #d39700;
  color: whitesmoke;
  text-decoration: none;
  padding: 7px;
  border-radius: 5px;
  transition: 0.3s;
}
.btn:hover {
  font-size: 12px;
  background: #d39700;
  border: 1px solid #d39700;
  color: whitesmoke;
  text-decoration: none;
  padding: 7px;
  border-radius: 5px;
}
.btn-2 {
  font-size: 12px;
  margin-left: 5px;
  background: none;
  border: 1px solid #03bfcb;
  color: whitesmoke;
  text-decoration: none;
  padding: 7px;
  border-radius: 5px;
  transition: 0.3s;
}
.btn-2:hover {
  font-size: 12px;
  background: #03bfcb;
  border: 1px solid #03bfcb;
  color: whitesmoke;
  text-decoration: none;
  padding: 7px;
  border-radius: 5px;
}
table,
td {
  padding: 5px 20px;
}
.skills {
  margin-top: 20px;
  font-size: 10px;
}
.button-skills {
  background-color: #febb0b;
  border: 0px;
  color: black;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 8px;
  font-weight: 700;
}
.button-skills-child {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: whitesmoke;
  border-radius: 3px;
  padding: 3px;
  font-size: 8px;
  font-weight: 700;
}
